<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>A brief introduction to Web Workers</title>

    <link rel="stylesheet" type="text/css" href="css/main.css" />

  <link rel="stylesheet" type="text/css" href="fonts/museo/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="fonts/ss-pika/ss-pika.css" />

  <script src="//use.typekit.net/nfz7sqg.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" type="text/css" href="css/prism.css" />
</head>
<body>

<%- body %>

<footer class="footer">
  Koen Vendrik - October 2014 | <a href="http://twitter.com/kvendrik">@kvendrik</a> | <a href="http://kvendrik.com">kvendrik.com</a>
</footer>

<script src="js/main.js"></script>
</body>
</html>
