* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.slide {
  width: 960px;
  height: 100%;
  box-sizing: content-box;
  padding: 80px calc(50% - 480px);
  float: left;
  display: none; }
  .slide .step {
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease; }
    .slide .step.done {
      opacity: 1; }
  .slide.visible {
    display: block; }

body {
  font: 300 18px "Lato";
  color: #453015;
  background-color: #fba919;
  line-height: 1.5em; }

p, img, ul, ol, img {
  margin-bottom: 20px; }

a {
  color: #453015;
  border-bottom: solid 1px; }

small {
  font-size: 0.9em; }

img {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin-bottom: 10px;
  line-height: 1.3em; }
  h1.subtitle, h2.subtitle, h3.subtitle, h4.subtitle, h5.subtitle, h6.subtitle {
    margin-bottom: 20px; }
  h1 .ss-icon, h2 .ss-icon, h3 .ss-icon, h4 .ss-icon, h5 .ss-icon, h6 .ss-icon {
    font-size: 0.9em;
    display: inline-block;
    margin-right: 20px; }

h1 {
  font-size: 2.8em; }

h2 {
  font-size: 2.4em; }

h3 {
  font-size: 2em; }

h4 {
  font-size: 1.6em; }

h5 {
  font-size: 1.2em; }

h6 {
  font-size: 1.1em; }

ul, ol {
  margin-left: 20px; }

ul li {
  list-style-type: square;
  margin-bottom: 5px; }
ul.inline li {
  display: inline-block;
  margin-bottom: 0;
  margin-right: 20px; }

pre {
  overflow-x: auto;
  display: inline-block;
  padding: 20px 25px;
  background-color: #f69e04;
  border-radius: 3px; }

.column {
  overflow: hidden; }
  .column.half, .column.one-third {
    float: left;
    padding-left: 2%;
    padding-right: 2%; }
  .column.half {
    width: 46%; }
  .column.one-third {
    width: 29%; }

.intro, .outro {
  text-align: center;
  padding-top: 140px; }
  .intro .logo, .outro .logo {
    width: 960px;
    position: absolute;
    left: -400px;
    top: -100px;
    opacity: 0.8; }
  .intro h1, .intro h2, .outro h1, .outro h2 {
    border: none; }
  .intro h1, .outro h1 {
    font-size: 4em; }
  .intro h2, .outro h2 {
    font-size: 1.8em;
    text-transform: uppercase; }
