<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>A front-ender's automated workflow</title>

	<link rel="stylesheet" type="text/css" href="css/main.css" />

  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="fonts/ss-pika/ss-pika.css" />
</head>
<body>

<section class="slide accent-bg intro">

  <div class="logo"><img src="assets/img/grunt-logo.svg" /></div>
  <h4>a front-ender's</h4>
  <h1>automated<br>workflow</h1>
  <h5>using Node and Grunt</h5>

</section>

<section class="slide">

  <h2>Waarom?</h2>
  <h5 class="subtitle">Grunt</h5>
  <ol>
    <li class="step">Geen 100 programma's met verschillende functies</li>
    <li class="step">Makkelijke opzet voor andere devs</li>
    <li class="step">Zeer makkelijk uitbreidbaar</li>
  </ol>

</section>

<section class="slide">

  <h2>Hoe?</h2>
  <h5 class="subtitle">3 Delen</h5>
  <ol>
    <li class="step"><code>package.json</code></li>
  </ol>

</section>

<section class="slide">

  <h2>Package.json</h2>
  <h5 class="subtitle">Project informatie</h5>
<pre class="step">{
  "name": "",
  "version": "1.0.0",
  "description": "",
  "main": "GruntFile.js",
  "dependencies": {},
  "devDependencies": {
    "grunt": "~0.4.4",
    "grunt-contrib-concat": "~0.4.0",
    "grunt-contrib-connect": "~0.7.1",
    "grunt-contrib-sass": "~0.7.3",
    "grunt-contrib-uglify": "~0.4.0",
    "grunt-contrib-watch": "~0.6.1",
    "grunt-open": "~0.2.3",
    "load-grunt-tasks": "~0.4.0"
  },
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1"
  },
  "author": "Koen Vendrik",
  "license": "BSD 2-Clause"
}</pre>

</section>

<section class="slide">

  <h2>Hoe?</h2>
  <h5 class="subtitle">3 Delen</h5>
  <ol>
    <li><code>package.json</code></li>
    <li class="step"><code>GruntFile.js</code></li>
  </ol>

</section>

<section class="slide">

  <h2>GruntFile.js</h2>
  <h5 class="subtitle">De settings</h5>
<pre class="step">
module.exports = function (grunt){

     grunt.initConfig({

        pkg: grunt.file.readJSON('package.json'),
        appRoot: 'app',

        connect: {
          server: {
            options: {
              livereload: true,
              hostname: '127.0.0.1',
              port: 9000,
              base: '<%= appRoot %>/'
            }
          }
        },

        open: {
          all: {
            path: 'http://localhost:<%= connect.server.options.port %>'
          }
        },

        watch: {
          options: {
              livereload: true,
          },
            html: {
            files: ['<%= appRoot %>/*.html']
            },
            js: {
              files: ['<%= appRoot %>/js/src/*.js'],
              tasks: ['concat']
            },
            sass: {
              files: ['<%= appRoot %>/sass/*.scss'],
              tasks: ['sass']
            }
        },

        sass: {
          dist: {
            files: {
              '<%= appRoot %>/css/main.css': '<%= appRoot %>/sass/main.scss'
            }
          }
        },

        concat: {
          options: {
            separator: '\n\n',
          },
          js: {
            src: ['<%= appRoot %>/fonts/ss-pika/ss-pika.js',
            '<%= appRoot %>/js/libs/*.js',
            '<%= appRoot %>/js/src/*.js'],
            dest: '<%= appRoot %>/js/app.js'
          }
        },

        uglify: {
          js: {
            files: {
              '<%= appRoot %>/js/app.min.js': ['<%= appRoot %>/fonts/ss-pika/ss-pika.js',
              '<%= appRoot %>/js/libs/*.js',
              '<%= appRoot %>/js/src/*.js']
            }
          }
        }

     });

     require('load-grunt-tasks')(grunt);

     grunt.registerTask('serve', ['connect', 'open', 'watch']);
     grunt.registerTask('build', ['sass', 'uglify']);
}
</pre>

</section>

<section class="slide">

  <h2>Hoe?</h2>
  <h5 class="subtitle">3 Delen</h5>
  <ol>
    <li><code>package.json</code></li>
    <li><code>GruntFile.js</code></li>
    <li class="step"><code>node_modules/</code></li>
  </ol>

</section>

<section class="slide">

  <h2>node_modules/</h2>
  <h5 class="subtitle">Map</h5>
<pre class="step">
node_modules/
  grunt/
  grunt-contrib-connect/
  grunt-open/
  grunt-contrib-sass/
  grunt-contrib-watch/
</pre>

</section>

<section class="slide">

  <h2>Installatie</h2>
  <h5 class="subtitle">Globaal op je PC</h5>
  <ul>
    <li class="step"><code><a href="http://nodejs.org/">Node</a></code><br><small>Voor NPM - http://nodejs.org/</small></li>
    <li class="step"><code>Grunt-cli</code><br><small>Voor de grunt command - <code>npm install -g grunt-cli</code></small></li>
  </ul>

</section>

<section class="slide">

  <h2>Het gebruikelijke</h2>
  <h5 class="subtitle">Ons project</h5>
  <ol>
    <li class="step">De map - <code>cd ~/Desktop && mkdir presentatie-project && cd presentatie-project</code></li>
    <li class="step">Package.json - <code>npm init</code></li>
    <li class="step">GruntFile.js - <code>curl http://kvendrik.com/presentatie-grunt/GruntFile.js > GruntFile.js</code></li>
    <li class="step">node_modules/ - <code>npm install</code></li>
  </ol>

</section>

<section class="slide">

  <h2>Let's give it a shot</h2>
  <h5 class="subtitle">Werken aan ons project</h5>
  <ol>
    <li class="step"><code>curl http://kvendrik.com/presentatie-grunt/grunt-voorbeeld.html > index.html</code></li>
    <li class="step"><code>mkdir sass && mkdir css</code></li>
    <li class="step"><code>cd sass && touch main.scss</code></li>
    <li class="step"><code>grunt serve</code></li>
  </ol>

</section>

<section class="slide outro">

  <h1>Grunt</h1>
  <h2 class="subtitle">It's like magic!</h2>
  <div class="logo"><img src="assets/img/grunt-logo.svg" /></div>

</section>

<script src="js/app.js"></script>
</body>
</html>