.intro, .outro {
	text-align: center;
	padding-top: 140px;

	.logo {
		width: 960px;

		position: absolute;
		left: -400px;
		top: -100px;
		opacity: $opacity;
	}

	h1,h2 {
		border: none;
	}

	h1 {
		font-size: 4em;
	}

	h2 {
		font-size: 1.8em;
		text-transform: uppercase;
	}
}