$base-color: #453015;
$white: #fff;

$accent: #fba919;
$accent-dark: darken($accent, 5%);

$body-family: 'Lato';
$body-weight: 300;
$body-line-height: 1.5em;

$heading-weight: 500;
$heading-line-height: 1.3em;

$size-s: .9em;
$size-m: 18px;

$margin-xs: 5px;
$margin-s: 10px;
$margin-m: 20px;
$margin-l: 40px;

$padding-m: $margin-m $margin-m+5;

$border-style: solid;
$border-width: 1px;
$border-radius: 3px;

$opacity: .8;

////////////

body {
	font: $body-weight $size-m $body-family;
	color: $base-color;
	background-color: $accent;
	line-height: $body-line-height;
}

p,img,ul,ol,img {
	margin-bottom: $margin-m;
}

a {
	color: $base-color;
	border-bottom: $border-style $border-width;
}

small {
	font-size: $size-s;
}

img {
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: $heading-weight;
	margin-bottom: $margin-s;
	line-height: $heading-line-height;

	&.subtitle {
		margin-bottom: $margin-m;
	}

	.ss-icon {
		font-size: $size-s;
		display: inline-block;
		margin-right: $margin-m;
	}
}

h1 {
	font-size: 2.8em;
}
h2 {
	font-size: 2.4em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.6em;
}
h5 {
	font-size: 1.2em;
}
h6 {
	font-size: 1.1em;
}

ul,ol {
	margin-left: 20px;
}

ul {

	li {
		list-style-type: square;
		margin-bottom: $margin-xs;
	}

	&.inline {
		li {
			display: inline-block;
			margin-bottom: 0;
			margin-right: $margin-m;
		}
	}
}

pre {
	overflow-x: auto;
	display: inline-block;

	padding: $padding-m;

	background-color: $accent-dark;
	border-radius: $border-radius;
}

.column {
	overflow: hidden;

	&.half,&.one-third {
		float: left;
		padding-left: 2%;
		padding-right: 2%;
	}

	&.half {
		width: 46%;
	}

	&.one-third {
		width: 29%;
	}
}